#icon-opengraph {
	background: url(../img/opengraph.png) center center no-repeat;
}

.postbox .hndle {
	cursor: pointer;
	// position: relative;
}

.postbox .hndle input {
	position: relative;
	z-index: 100;
}

.click-block {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
	z-index: 50;
}

.wp-tab-panel p:first-child {
	margin-top: 2px;
}


/**
 *
 * Preview
 *
 */

#code-preview {
	border: 1px solid #DFDFDF;
	background: #FFF;
	margin: 10px 0 0;
	min-height: 64px;
	overflow-x: auto;
	padding: 0 1em;
}


/**
 *
 * Override default closed style
 *
 */
 
 .postbox.easy-og-closed:hover .handlediv {
 	background: none !important;
 }
 
.postbox.easy-og-closed .hndle {
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.postbox.easy-og-closed h3 {
	border: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.js .easy-og-closed .inside {
	display: none;
}

.js .easy-og-closed .widgets-sortables,
.js .easy-og-closed .widget-holder {
	display: none;
}

.widgets_access .easy-og-closed .sidebar-name {
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

/**
 *
 * Tab style that I need to add until #17959 is accepted into core
 * Please core team, make that soon
 *
 */

#post-body ul.wp-tab-bar {
	float: left;
	width: 120px;
	text-align: right;
	/* Negative margin for the sake of those without JS: all tabs display */
	margin: 0 -120px 0 5px;
	padding: 0;
}
 
#post-body ul.wp-tab-bar li {
	padding: 8px;
}

#post-body ul.wp-tab-bar li.wp-tab-active {
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-top-right-radius: 0px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top-right-radius: 0px;
}

div.wp-tab-panel-active {
	display:block;
}

div.wp-tab-panel-inactive {
 	display:none;
}

#post-body div.wp-tab-panel {
	margin: 0 5px 0 125px;
}
 
.has-right-sidebar #side-sortables .wp-tab-bar li {
	display: inline;
	line-height: 1.35em;
}

.no-js #side-sortables .wp-tab-bar li.hide-if-no-js {
 	display: none;
}

#side-sortables .wp-tab-bar a {
	text-decoration: none;
}

#side-sortables .wp-tab-bar {
	margin: 8px 0 3px;
}

#side-sortables .wp-tab-bar {
	margin-bottom: 3px;
}

#post-body .wp-tab-bar li.wp-tab-active {
	border-style: solid none solid solid;
	border-width: 1px 0 1px 1px;
	margin-right: -1px;
}

#post-body ul.wp-tab-bar {
	float: left;
	width: 120px;
	text-align: right;
	/* Negative margin for the sake of those without JS: all tabs display */
	margin: 0 -120px 0 5px;
	padding: 0;
}

#post-body ul.wp-tab-bar li {
	padding: 8px;
	display: block;
}

#post-body ul.wp-tab-bar li a {
	text-decoration: underline;
}

#post-body ul.wp-tab-bar li.wp-tab-active {
 	-webkit-border-top-left-radius: 3px;
 	-webkit-border-bottom-left-radius: 3px;
 	border-top-left-radius: 3px;
 	border-bottom-left-radius: 3px;
}

#post-body div.wp-tab-panel {
	margin: 0 5px 0 125px;
}

#post-body ul.wp-tab-bar li.wp-tab-active a {
	font-weight: bold;
	text-decoration: none;
}